.speech-bubble {
    position: relative;
    height: auto;
    border-color: #549239;
    border: 1px solid #549239;
    background-color: #e7ffe1;
	/* background: #549239; */
    border-radius: .8em;
    padding: 3px;
    padding-left: 8px;
    font-size: 12px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #549239;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

/* post styling by others */

.speech-bubble2 {
    position: relative;
    height: auto;
    /* background: #577ab3; */
    border-color: #577ab3;
    border: 1px solid #577ab3;
    background-color: #edf7f8;
    border-radius: .8em;
    padding: 3px;
    padding-left: 8px;
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #577ab3;
	border-bottom: 0;
	border-right: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

#buttonnew{
    font-size: 10px;
}
#textfield{
    border: 3px solid rgba(44, 206, 71, 0.91);
    height: 18px;
}

.css-input {
    height: 35px;
    width: 85%;
    padding: 6px;
    font-size: 30px;
    border-width: 0px;
    /* border-color: #549239; */
    background-color: #ffffff;
    color: #5e5858;
    border-style: solid;
    /* border-radius: 12px; */
    /* box-shadow: 0px 0px 5px rgba(66,66,66,.75); */
    font-size: 12px;
}
.css-input:focus {
    outline:none;
}
.userlogo{
    height: 17px;
}